# .gitignore

# Database is made during migrations
/data/

.env

.sqlx/

# Compiled files and artifacts
/target/

# Rust build artifacts
Cargo.lock # optional to ignore for libraries

# Frontend
/frontend/node_modules/
/frontend/dist/
/frontend/.vscode/
/frontend/.gitignore

# Secrets
google_token.json

.svelte-kit